<div class="container">

  <div class="row">
    <div class="col">
      <div ><!-- Persona va a almacenar lo que contiene Personas, cuando es en plural se hace una referencia a un array, ngFor sirve para iterar, let i = index sirve para incrementar cada vez que se recorre  -->
      {{indice + 1}} : {{persona.nombre}} {{persona.apellido}} <!-- Con i se imprime los valores que recorre y + 1 para que empiece con 1 y no con 0 -->
        <button type="submit" class="btn btn-info" (click)="emitirSaludo()">
          Editar
        </button>
    </div>
    </div>
  </div>
</div>
