<div class="box">
  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()" ><!-- row ya que se aplica de forma horizontal, este ngForm se usa para que si no se escribe lo que pide que no se mande el formulario -->
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombreInput" required>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellidoInput" required=""> <!-- Aca tambien se puede usar [(ngModel)] ="apellidoInput" -->
        <button type="submit" style="cursor: pointer"> <!-- (click)="agregarPersona(nombreInput, apellidoInput)" se usa con referencia local -->
          +
        </button>
        <button *ngIf="index != null" type="submit" style="cursor: pointer" class="buttonRed" (click)="eliminarPersona()">
          -
        </button>
  </form>
</div>

