body{
  /*background: radial-gradient(circle, #ffd7ba, #ece4db );*/
 /* background: repeating-conic-gradient(#ffedd8 0% 25%, #f3d5b5 0% 50%) 50%/60px 60px;*/
 background-color: #f4f1de;
}

h3{
  color: #a3c4f3;
}

div.container{
  padding: 1cm 1cm 4.70cm 1cm;
  padding-bottom: 50%;
}

div.col{
  top:100px;
  left: 50px;
  width: 50%;

}


input{
  border-color: #9c6644;
}




