body{
  background: radial-gradient(circle, #ede0d4, #ddb892 );
}

h3{
  color: #b08968;
}

div.container{
  padding: 1cm 1cm 4.70cm 1cm;
}

div.col{
  top:100px;
  left: 50px;
  width: 50%;

}

.btn-primary:hover{
  background-color: #ede0d4;
  color: black;
}

.btn-primary {
  background-color: #9c6644;
  border: #9c6644;
}

input{
  border-color: #9c6644;
}




