/*.btn-primary:hover{
  background-color: #ede0d4;
  color: black;
}

.btn-primary {
  background-color: #9c6644;
  border: #9c6644;
}*/


input{
  border-color: #f1c0e8;
}

.btn-primary{
  -webkit-box-shadow: 2px 2px 10px 2px #ffcfd2, -7px 1px 10px 1px #f1c0e8, -5px -3px 10px 3px #cfbaf0, 10px -3px 10px 3px #a3c4f3, 10px 8px 15px 5px #90dbf4, -7px 5px 10px 5px #8eecf5, -7px -4px 24px 1px #98f5e1, 3px 3px 3px 3px rgba(0,0,0,0);
  box-shadow: 2px 2px 10px 2px #ffcfd2, -7px 1px 10px 1px #f1c0e8, -5px -3px 10px 3px #cfbaf0, 10px -3px 10px 3px #a3c4f3, 10px 8px 10px 5px #90dbf4, -7px 5px 10px 5px #8eecf5, -7px -4px 24px 1px #98f5e1, 3px 3px 3px 3px rgba(0,0,0,0);
  background-color: #fde4cf;
  color: black;
  border: #fde4cf;
  transform: scale(0.9) skew(4deg) translate(2px,2px);
-webkit-transform: scale(0.9) skew(4deg) translate(2px,2px);
-moz-transform: scale(0.9) skew(4deg) translate(2px,2px);
}

.btn-primary:hover{
  background-color: #fbf8cc;
  color: black;
  transition: transform 200ms;
  transform: scale(0.9);
}
